@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #CDCDCD;
}

body {
    width: 1024px;
    height: 790px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    padding-top: 64px;    
}

main {
    text-align: center;
    width: 626px;
    height: 486px;

    margin: auto;
}

footer {
    position: absolute;
    height: 176px;
    text-align: center;
    bottom: 44px;
}

h1 {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #3F3D56;

    margin-top: 32px;
    margin-bottom: 16px;
}

h1 span {
    color: #EE24FF;
    font-weight: 700;
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    text-align: center;

    color: #828282;
    margin-top: 16px;
}

p span {
    font-weight: 700;
    color: #828282;
}

strong {
    font-weight: 700;
    color: #3F3D56;
}

nav a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 42px;
    margin-bottom: 40px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 147.68%;

    text-align: center;

    color: #3F3D56;
}

