@charset "UTF-8";

:root {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 80rem;
    height: 200%;
    
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    
    color: var(#63A5F2);

    text-align: center;

    padding: 1rem;
    margin: auto;
}