@charset "UTF-8";

:root {
    font-size: 62.5%;

    /*Paleta*/
    --color01: #00B77D;
    --color01-shadow: #009E6C;
    --color02: #F5F5F5;
    --color03: #04080f;
    --color04: #704e2e;
    --color05: #84828f;

    --bg-color: #ffffff;
    --bg-header-footer-color: #00B77D;
    --bg-button-color: #F5F5F5;
    --border-color: #009E6C;
    --text-main-color: #04080f;
    --text-header-footer-color: #F5F5F5;
    --text-button-color: #00B77D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-color);
    color: var(--text-color-small);

    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

header {
    width: 100%;
    height: 12rem;

    background-color: var(--color01);
    color: var(--color02);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    font-weight: 700;

    box-shadow: .1rem .1rem .1rem solid var(--color01-shadow);
}

header nav {
    display: flex;
    flex-direction: row;

    align-items: center;

    color: var(--color02);
}

nav a {
    border-left: .5px solid var(--color04);
    padding-right: 1rem;
    padding-left: 1rem;
    line-height: 2rem;
    
    color: var(--color02);
}

nav a:nth-child(1) {
    border-left: none;
}

main {
    width: 80rem;

    padding: 1rem;
    margin: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: var(---color1);
}

footer {
    width: 100%;
    height: 15rem;

    padding: 1rem;

    background-color: var(--bg-header-footer-color);
    color: var(--text-header-footer-color);

    font-size: 1.2rem;
    text-align: center;
    letter-spacing: .08rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;

    font-family: 'Roboto', cursive;
}

footer div {
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 10rem;
}

li a {
    font-size: 1.2rem;
    color: var(--text-color-small);
}

p {
    text-align: justify;
    text-indent: 1rem;
}

a {
    text-decoration: none;
    color: var(--text-header-footer-color);
    cursor: pointer;
}

a:hover {
    color: var(--color01-shadow);
    text-shadow: none;
}

button {
    padding: 1rem 3rem 1rem 3rem;

    border-radius: .5rem;
    border: .1rem solid var(--border-color);

    color: var(--text-button-color);
    background-color: var(--bg-color);

    cursor: pointer;
}

button:hover {
    color: var(--bg-button-color);
    background-color: var(--text-button-color);
}