@charset "UTF-8";

:root {
    font-size: 62.5%;

    /*Paleta*/
    --color01: #5899e2;
    --color02: #f0eff4;
    --color03: #2f4550;
    --color04: #ffbf46;
    --color05: #8c1c13;
    --color06: #042142;

    --bg-color: #2f4550;
    --text-color-small: #f0eff4;
    --text-color-large: #ffbf46;   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 50%;
    width: 100%;

    background-color: var(--bg-color);
    color: var(--text-color-small);    
}

header {
    width: 100%;
    height: 15rem;

    background-color: var(---color3);
    color: var(---color1);
    box-shadow: 0 .1rem .1rem .1rem var(--text-color-large);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 2rem;
}

header h1 {
    text-shadow: .01rem 0rem .1rem var(--text-color-small);
}

footer {
    width: 100%;
    height: 20rem;

    padding: 1rem;

    background-color: var(---color3);
    color: var(---color1);

    box-shadow: 0 -.1rem .1rem .1rem var(--text-color-large);

    font-size: 1.5rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1rem;

    font-family: 'Roboto', cursive;
}

li a {
    font-size: 1.2rem;
    color: var(--text-color-small);
}

h1, h2, h3, span, a {
    font-family: 'Alkatra', cursive;
    text-transform: uppercase;

    font-weight: 700;

    color: var(--text-color-large);
}

p {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color06);
    text-shadow: none;
}

header nav {
    display: flex;
    flex-direction: row;

    align-items: center;
}

nav a {
    border-left: .5px solid var(--color04);
    padding-right: 1rem;
    padding-left: 1rem;
    line-height: 2rem;
    
    color: var(--text-color-small);

    text-shadow: .1rem 0rem .2rem var(--text-color-large);
}

nav a:nth-child(1) {
    border-left: none;
}

footer div {
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 10rem;
}