@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-body-color: black;
    --bg-header-color: #092D38;
    --bg-td01-color:#06161B80;
    --bg-td02-placehoader-color: #06181C;
    --bg-favorite-color: #065E7C;
    --bg-favoriteHover-color: white;
    --bg-table-color: #030B0D;
    --border-table-color: #4A808C;

    --text-placehoader-color: #7C7C8A;
    --text-btRemove-color: #F75A68;
    --text-favorite-color: white;
    --text-favoriteHover-color: #065E7C;
    --text-nenhumfavorito-color: #4E5455;
    --text-color: #E1E1E6;
}

body {
    background-color: var(--bg-body-color);
    color: var(--text-color);

    max-width: 112rem;

    margin: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}

/*--- texts ---*/
a {
    text-decoration: none;
    color: var(--text-color);
}

span {
    font-weight: 700;
}

.remove {
    color: var(--text-btRemove-color);
}

/*--- Header/Iinput/Button ---*/
header {
    margin-top: 11.5rem;
    margin-bottom: 8.7rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.boxInput {
    display: flex;
    gap: .8rem;
    
}

input {
    width: 46.2rem;
    height: 4.8rem;

    padding: 1rem;

    background-color: var(--bg-td02-placehoader-color);
    color: var(--text-color);

    border: none;
}

input::placeholder {
    color: var(--text-placehoader-color);
    text-align: left;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1.2rem 3.2rem;
    gap: .8rem;

    width: 170px;
    height: 48px;

    background-color: var(--bg-favorite-color);
    color: var(--text-favorite-color);

    border-radius: 5px;

    cursor: pointer;
}

button:hover {
    background-color: var(--bg-favoriteHover-color);
    color: var(--text-favoriteHover-color);
}

button:hover svg path {
    fill: var(--text-favoriteHover-color);
}

/*--- Main/Table ---*/
main {
    
}

.Nfavorito {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;

    position: absolute;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--text-nenhumfavorito-color);

    display: none;
}

/*--- table ---*/
table {
    background-color: var(--bg-table-color);
    border: 1px solid red;
    border-collapse: collapse;
    contain: content;
    border-radius: 1.2rem;
}
thead {
    background-color: var(--bg-header-color);
    text-align: left;

    position: sticky;
    top: 0;
}

tbody > tr:nth-child(even) {
    background-color: var(--bg-td02-placehoader-color);
}

th, td, tr {
    width: 100vw;
    padding: 1.6rem;
    padding-left: 4rem;
}

table tr td img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
}

.cardUser {
    display: flex;
    flex-direction: row;

    gap: 1.6rem;
}