@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav {
    position: absolute;
    font-family: 'roboto';
    background: transparent;    
    height: 12.2rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 4.2rem;
    padding: 7.2rem;
}

a {
    text-decoration: none;
    color: #8D8D99;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21.6667px;
    line-height: 22px;
}
.textcolor {
    color: white;
}

.bgHome {
    background-image: url(../assets/bghome.svg);
}

.bgUniverse {
    background-image: url(../assets/bgOuniverse.svg);

}

.bgExploracao {
    background-image: url(../assets/bgexploracao.svg);
}